<ul *ngIf="paginas!.length >0" class="pagination">

  <li class="page-item" *ngIf="paginadorHijo.number > 0">
    <a  class="page-link" [routerLink]="['/clientes/page', paginadorHijo.number-1 ]">&laquo;</a>
  </li>

  <li  [ngClass]="paginadorHijo.first ? 'disabled':  'page-item'">
    <a  class="page-link" [routerLink]="['/clientes/page', 0 ]">Primera</a>
  </li>


  <li class="page-item" *ngFor="let pagina of paginas" [ngClass] = "pagina - 1 == paginadorHijo.number? 'active':''">
    <span class="page-link" *ngIf="pagina - 1 == paginadorHijo.number">{{pagina}}</span>
    <a  *ngIf="pagina - 1 != paginadorHijo.number"  class="page-link" [routerLink]="['/clientes/page',pagina - 1]"> {{pagina}}</a>
  </li>

  <li  [ngClass]="paginadorHijo.last ? 'disabled': 'page-item'">
    <a  class="page-link" [routerLink]="['/clientes/page', paginadorHijo.totalPages -1]">Ultima</a>
  </li>

  <li class="page-item" *ngIf="paginadorHijo.totalPages - 1 > paginadorHijo.number">
    <a  class="page-link" [routerLink]="['/clientes/page', paginadorHijo.number+1 ]">&raquo;</a>
  </li>
</ul>
